.error {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #6363ff;
    font-size: 2rem;
}

.image {
    width: 50%;
    height: auto;
}
